.dialog-content {
    height: 87vh;
    overflow-y: auto;
    padding: 30px 30px 20px;
    .form-field {
      width: 100%;
    }
    .error {
      color: red;
    }
  }

  .colors {
    width: 368px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
  }

  mat-label{
    font-size: 0.88rem;
  }

  .gray-text {
    color: #615c5c;
  }




  





  